<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions and features -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:debuggable="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="33"
        tools:ignore="HardcodedDebugMode">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <!-- Parent activity information -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity.LoginActivity"
                android:exported="false" />
        </activity>

        <!-- Login Activity (with the intent to ForgetPassword) -->
        <activity
            android:name=".LoginActivity.LoginActivity"
            android:exported="true">
            <!-- Intent-filter to define it as a launcher activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ForgetPassword Activity -->
        <activity
            android:name=".forgetpassword"
            android:label="Forget Password">
            <!-- Parent activity information -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity.LoginActivity"
                android:exported="false" />
        </activity>

        <!-- ResetPassword Activity -->
        <activity
            android:name=".resetpassword"
            android:label="Reset Password">
            <!-- Parent activity information -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".forgetpassword"
                android:exported="false" />
        </activity>

    </application>
</manifest>
